body {
  background-image: url('https://www.fema.gov/media-library-data/1383135125486-1a72844e5f72958992eb483a1c6d99b9/20131025_LB_Boardwalk_Opening-103_medium.jpg');
  background-size: cover;
  background-blend-mode:luminosity;
  color: #bdf0f9;
  font-family: 'Laila', serif;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
  }

  h1 {
    font-size: 60px;
  }

.toppings {
  background-color: beige;
  padding: 10px;
  border-radius: 30px;
}

.sidebar {
  background-color: white;
  border-radius: 30px;
  padding: 10px;
}

#pizzaOrderForm {
  font-size: 20px;
}

.otherOptions {
  background-color: #f2d987;
  border-radius: 30px;
}

.pizzaSize {
  background-color: white;
  border-radius: 30px;
}

#order-display {
  display: none;
  background-color: pink;
  border-radius: 30px;
}

.order-placeholder {
  float: left;
}

.delivery-address {
  background-color: #c4ab5a;
  border-radius: 30px;
  padding: 10px;
}

.delivery-display {
  display: none;
  font-family: 'Bellefair', serif;
  background-color:#82724a;
  border-radius: 30px;
  padding: 10px;
}

.pizza {
  cursor: pointer;
  color: #0088cc;
}

.pizza:hover {
  text-decoration: underline;
}

#myPizzas {
  display: none;
}
